@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

*{
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

.content{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 36, 62);
    height: 70px;
    padding: 25px;
}

.nav-left{
    display: flex;
    align-items: center;
    color: aliceblue;
    gap: 15px;
}

.title{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
}

.title1{
    font-weight: 900;
    font-size: 22px;
}

.nav-right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
    font-size: 16px;
}

p{
    margin: 0px;
}

.img{
    width: 100%;
}

.logo{
    width: 65px;
    height: 55px;
}

.body{
    background-image: url('./../pictures/bg.png');
    height: 680px;
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px;
    gap: 45px;
}

.judul-contact{
    color: aliceblue;
    font-size: 34px;
    font-weight: 900;
    text-shadow: 2px 2px 6px rgb(43, 62, 129);
}

.form{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 25px;
}

.fill{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

textarea{
    border-radius: 6px;
    resize: none;
    border: none;
    padding: 15px 10px;
}

input{
    box-sizing: border-box;
    border-radius: 6px;
    height: 32px;
    border: none;
    padding: 5px 10px;
}

input::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.messages input{
    border-radius: 6px;
    height: 145px;
    border: none;
}

.option{
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 16px;
    font-weight: 400;
}

.check{
    display: flex;
    gap: 40px;
}

.pref{
    font-size: 18px;
    font-weight: 600;
}

.button-submit{
    width: 100%;
    display: flex;
    justify-content: end;    
}

button{
    width: 120px;
    height: 34px;
    font-size: 14px;
    font-weight: 900;
 
    border-radius: 20px;
    border: none;
    background-color: rgb(153, 228, 233);
    cursor: pointer;
}

.footer{
    height: 250px;
    background-color: rgb(8, 22, 74) ;
    padding: 50px 60px;

    display: flex;
    justify-content: space-between;
}

.footer-left{    
    color: aliceblue;
    display: flex;
    align-items: start;
    gap: 15px;
}

.title-bwh{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
}

.title1-bwh{
    font-weight: 900;
    font-size: 20px;
}

.logo-bwh{
    width: 65px;
    height: 55px;
}

.footer-right{
    color: aliceblue;
}

.quick{
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
    gap: 20px;
}

.ql{
    font-size: 20px;
    font-weight: 800;
}